.btn-group button {
    background-color: #04AA6D;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
  }

  .btn-group button:hover {
    background-color: #3e8e41;
  }